<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-9 mx-auto text-center">
          <h1 class="text-white"> {{"admin" | uppercase}}</h1>
          <h4>{{adminDate | date:"short"}}</h4> <!-- pipe class -->
        </div>
      </div>
    </div>
  </div>
  <div class="tabs">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Matches</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Team</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Players</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-stadium" role="tab" aria-controls="nav-stadium" aria-selected="false">Stadium</a>

        </div>
      </nav>
    </div>
      <div class="tab-content mb-5" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <app-tab-matches></app-tab-matches>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <app-tab-team></app-tab-team>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <app-tab-players></app-tab-players>
        </div>
        <div class="tab-pane fade" id="nav-stadium" role="tabpanel" aria-labelledby="nav-stadium-tab">
          <app-tab-stadium></app-tab-stadium>
          </div>
      </div>

