<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <!-- component header -->
    <app-header></app-header>
    
    <!-- cup-events -->
   <router-outlet></router-outlet> 
   <!-- balise prédifinie angular qui injecte un contenu d'un composant selon le path-->
    <!-- footer -->
    <app-footer></app-footer>



  </div>

