<div class="row ml-5">
<div class="col-lg-4 mt-5 ml-5 " >
    
      <div class="img mb-4">
        <a href="single.html"><img [src]="playerInput.img" alt="Image" class="img-fluid"></a>
      </div>
    </div>

      <div class="col-lg-4 mt-5 ml-5 " >
      <div class="text">
        <p>Number: <span >{{playerInput.number}}</span></p>
        <p>Name: <span class="mb-4">{{playerInput.name}}</span></p>
        <p>Information:Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus deserunt saepe tempora dolorem.</p>
        <p>Position:<span> {{playerInput.position}}</span></p>
      </div>
    </div>
</div>
    
    
  

