<div class="row ml-5">
    <div class="col-lg-5 mt-5 ml-5 " >
        
          <div class="img mb-4">
            <a href="single.html"><img src="{{stadiumInput.img}}" alt="Image" class="img-fluid"></a>
          </div>
        </div>
    
          <div class="col-lg-6 mt-5 ml-5 " >
          <div class="text">
            <p>capacity: <span >{{stadiumInput.capacity}}</span></p>
            <p>Name: <span class="mb-4">{{stadiumInput.name}}</span></p>
            <p>Information:Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus deserunt saepe tempora dolorem.</p>
            <p>Country:<span> {{stadiumInput.country}}</span></p>
          </div>
        </div>
    </div>
