<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-9 mx-auto text-center">
        <h1 class="text-white">Sign up</h1>
      </div>
    </div>
  </div>
</div>
<div class="site-section">
    <div class="container" id="myform">
      <div class="row">
        <div class="col-lg-7">
          <form [formGroup]="signupForm">
            <div class="form-group">
              <input type="text" class="form-control" formControlName="firstName" placeholder="First-Name">
            </div>
            <span *ngIf="signupForm.controls['firstName'].invalid && (signupForm.controls['firstName'].touched || signupForm.controls['firstName'].dirty)">
                 <span *ngIf="signupForm.controls['firstName'].errors?.['required']">You must enter your first-name</span>
                 <span *ngIf="signupForm.controls['firstName'].errors?.['minlength']">Your lenght of your first-name must be at least 3 caracter </span>
            </span>
            <div class="form-group">
              <input type="text" class="form-control" formControlName="lastName" placeholder="Last-name">
            </div>
            <span *ngIf="signupForm.controls['lastName'].invalid && (signupForm.controls['lastName'].touched || signupForm.controls['lastName'].dirty)">
              <span *ngIf="signupForm.controls['lastName'].errors?.['required']">You must enter your last-name</span>
              <span *ngIf="signupForm.controls['lastName'].errors?.['minlength']">Your lenght of your last-name must be at least 3 caracter </span>
         </span>
            <div class="form-group">
              <input type="text" class="form-control" formControlName="email" placeholder="Email">
            </div>
            <span *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].touched || signupForm.controls['email'].dirty)">
              <span *ngIf="signupForm.controls['email'].errors?.['required']">You must enter your email</span>
              <span *ngIf="signupForm.controls['email'].errors?.['email']">Your Email must be on format </span>
         </span>
            <div class="form-group">
              <input type="password" class="form-control" formControlName="password" placeholder="Password">
            </div>
            <span *ngIf="signupForm.controls['password'].invalid && (signupForm.controls['password'].touched || signupForm.controls['password'].dirty)">
              <span *ngIf="signupForm.controls['password'].errors?.['required']">You must enter your password</span>
              <span *ngIf="signupForm.controls['password'].errors?.['minlength']">Your lenght of your password must be at least 6 caracter </span>
         </span>
            <div class="form-group">
              <input  type="text" class="form-control" formControlName="confirm" placeholder="Confirm-password">
            </div>
            <div class="form-group">
              <img [src]="imagePreview" alt="" style="width: 200px; border-radius: 5px;">
              </div>
            <div class="form-group">
              <input style="visibility: hidden;" type="file" #filePicker (change)="selectFile($event)" class="form-control" formControlName="file" placeholder="Upload file ...">
            </div>
            <div class="form-group">
            <button class="btn btn-primary py-3 " (click)="filePicker.click()" >Upload</button>
            </div>
            <div class="form-group">
              <input type="submit" [disabled]="signupForm.invalid" (click)="signup()" class="btn btn-primary py-3 px-5" value="Sign up">
            </div>
          </form>  
        </div>
        <div class="col-lg-4 ml-auto">
          
          <ul class="list-unstyled">
            <li class="mb-2">
              <strong class="text-white d-block">Address</strong>
              273 South Riverview Rd. <br> New York, NY 10011
            </li>
            <li class="mb-2">
              <strong class="text-white d-block">Email</strong>
              <a href="#">info@unslate.co</a>
            </li>
            <li class="mb-2">
              <strong class="text-white d-block">
                Phone
              </strong>
              <a href="#">+12 345 6789 012</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>